In [1]:
# call pandas
import pandas as pd # 'pd' is a nickname

In [2]:
# Uploading CVS dataset
# use a function from pandas to read the cloud data into a Python object
gitCloudRepo='https://github.com/542CompThink/Deliverable1/raw/main/'
fileName="airports.csv"

In [3]:
AirwaysData=pd.read_csv(gitCloudRepo + fileName)

In [4]:
AirwaysData

,name,slug,value,date_of_information,ranking,region
0,United States,united-states,"13,513",2022,1,North America
1,Brazil,brazil,"4,093",2021,2,South America
2,Mexico,mexico,"1,714",2021,3,North America
3,Canada,canada,"1,467",2021,4,North America
4,Russia,russia,"1,218",2021,5,Central Asia
...,...,...,...,...,...,...
232,Saint Barthelemy,saint-barthelemy,1,2021,233,Central America and the Caribbean
233,Saint Martin,saint-martin,1,2021,234,Central America and the Caribbean
234,Sint Maarten,sint-maarten,1,2021,235,Central America and the Caribbean
235,Tuvalu,tuvalu,1,2021,236,Australia and Oceania
236,Wake Island,wake-island,1,2021,237,Australia and Oceania

In [6]:
AirwaysData=AirwaysData.iloc[:,:3]
AirwaysData.head()

            name           slug   value
0  United States  united-states  13,513
1         Brazil         brazil   4,093
2         Mexico         mexico   1,714
3         Canada         canada   1,467
4         Russia         russia   1,218

In [8]:
AirwaysData.value.str.replace(",","",regex=False)

0      13513
1       4093
2       1714
3       1467
4       1218
       ...
232        1
233        1
234        1
235        1
236        1
Name: value, Length: 237, dtype: object

In [9]:
AirwaysData.value=AirwaysData.value.str.replace(",","",regex=False)

In [10]:
AirwaysData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    237 non-null    object
 1   slug    237 non-null    object
 2   value   237 non-null    object
dtypes: object(3)
memory usage: 5.7+ KB

In [11]:
pd.to_numeric(AirwaysData.value,errors='coerce')

0      13513
1       4093
2       1714
3       1467
4       1218
       ...
232        1
233        1
234        1
235        1
236        1
Name: value, Length: 237, dtype: int64

In [12]:
AirwaysData.value=pd.to_numeric(AirwaysData.value,errors='coerce')

In [13]:
AirwaysData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    237 non-null    object
 1   slug    237 non-null    object
 2   value   237 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.7+ KB

In [15]:
AirwaysData.rename(columns={'value':'airways'},inplace=True)
AirwaysData.drop(columns=['slug'],inplace=True)
AirwaysData

                 name  airways
0       United States    13513
1              Brazil     4093
2              Mexico     1714
3              Canada     1467
4              Russia     1218
..                ...      ...
232  Saint Barthelemy        1
233      Saint Martin        1
234      Sint Maarten        1
235            Tuvalu        1
236       Wake Island        1

[237 rows x 2 columns]